html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

html {
    background: rgb(19, 0, 36);
    background: linear-gradient(
        90deg, rgba(19, 0, 36, 1) 0%,
        rgba(49, 0, 139, 1) 57%,
        rgba(0, 172, 255, 0.6655856918238994) 100%
    );
}

.center_container {
    align-self: center;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background: rgba(255, 255, 255, 0); /* Fundo totalmente transparente */
    backdrop-filter: blur(10px); /* Efeito de desfoque */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para um efeito visual melhor */
    text-align: center;
}

.center_container h1 {
    color: rgba(255, 255, 255);
}

.center_container h1 span {
    display: inline-block;
    transition: transform 0.2s ease-in-out; /* Transição suave */
    font-size: 24px;
}

.center_container h1 span:hover {
    transform: scale(1.3); /* Aumenta o tamanho da letra em 30% ao passar o mouse */
}

.calculator {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.2); /* Fundo branco com transparência */
    padding: 20px;
    border-radius: 10px;
}

.input-group {
    margin-bottom: 10px;
}

.input-group input {
    width: 97%;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.buttons button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons button.btn-equals {
    background-color: #5c07ac; /* Button = */
    color: white;
}

.buttons button.btn-operator {
    background-color: #4309a1; /* Button operator */
    color: white;
}

.buttons button.btn-light {
    background-color: #7a02dd9f; /* botões numéricos*/
    color: white;
}

.buttons button:hover {
    filter: brightness(1.5); /* Aumenta a luminosidade ao passar o mouse */
}
